* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
header {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #fff;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background: #23738b;
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  width: 400px;
  height: 100px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 16px;
  transition: 0.3s ease-out;
}
.container-buscador {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-buscador i {
  position: absolute;
  color: #006280;
  font-size: 18px;
  padding-left: 10px;
}
.container-buscador input {
  width: 80%;
  font-size: 18px;
  padding-left: 32px;
  border: 1px solid #006280;
  border-radius: 8px;
  padding: 10px 10px 10px 40px;
}
.container-buscador input::placeholder {
  color: #006280;
  font-size: 16px;
}
.container-buscador button {
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: #006280;
  background: #a3eaff77;
  border-radius: 50%;
  font-size: 16px;
  transition: 0.4s ease-out;
}
.container-buscador button:hover {
  background: #a3eaff;
}
.not-found {
  width: 100;
  text-align: center;
  scale: 0;
  display: none;
}
.not-found img {
  width: 100%;
  margin-top: 20px;
}
.not-found p {
  color: #006280;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
}
.container-tiempo,
.detalles-tiempo {
  display: none;
  scale: 0;
}
.container-tiempo {
  display: flex;
  justify-content: center;
}
.container-tiempo img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.descripcion {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
  color: #006280;
  font-size: 1.5rem;
  font-weight: 600;
}
.temperatura {
  display: flex;
  justify-content: center;
  position: relative;
  color: #006280;
  font-size: 4rem;
  font-weight: 800;
}
.detalles-tiempo {
  width: 100%;
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
  justify-content: space-between;
}
.humedad,
.viento {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #006280;
  font-size: 1rem;
}
.text {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  color: #006280;
  font-size: 1.5rem;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
