* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6cbed6;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 400px;
  height: 600px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 16px;
  transition: 0.5s ease-out;
}

.container-buscador {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-buscador i {
  position: absolute;
  color: #006280;
  font-size: 24px;
}
.container-buscador input {
  width: 80%;
  font-size: 22px;
  padding-left: 32px;
}
.container-buscador input::placeholder {
  color: #006280;
  font-size: 18px;
}
.container-buscador button {
  cursor: pointer;
  width: 45px;
  height: 45px;
  color: #006280;
  background: #a3eaff77;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.4s ease-out;
}
.container-buscador button:hover {
  background: #a3eaff;
}

.container-tiempo {
  text-align: center;
}
.container-tiempo .temperatura {
  position: relative;
  color: #006280;
  font-size: 4rem;
  font-weight: 800;
}

.detalles-tiempo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.detalles-tiempo .humedad,
.detalles-tiempo .viento,
.detalles-tiempo .precipitacion {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
  font-weight: 600;
  color: #006280;
}
.detalles-tiempo .viento p,
.detalles-tiempo .humedad p,
.detalles-tiempo .precipitacion p {
  padding-left: 10px;
}
.detalles-tiempo .viento {
  padding-left: 15px;
}
.detalles-tiempo span {
  color: #006280;
  font-size: 15px;
  font-weight: 500;
}
